table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px 3px;
}

thead tr:nth-child(1) {
    font-size: 22px;
}

thead tr:nth-child(2) {
    font-size: 16px;
}

tfoot td {
    text-align: right;
}
