table, td {
    border: 1px solid black;
}
table td{
}
tbody td a img{
    width: 160px;
    height: 160px;
    border: 1px solid #143753;
}
tbody tr td:nth-child(1){
    padding: 10px 10px;
}
tbody tr td:nth-child(2){
    padding: 10px 9px;
}
table table td{
    font-size: 58px;
    letter-spacing: -2px;
}